* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

h2 {
	margin: 10px
}

ul {
	display: flex;
	margin-top: 20px;
}

h2 {
	margin-top: 20px;
}

ul,
li {
	list-style: none;
	padding-left: 10px;
	width: 350px;
}

.list {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	overflow-x: scroll;
}

.list li div {
	width: 80px;
	margin: 5px;
}

.list li div img {
	width: 80px;
	height: 100px;
}

.list::-webkit-scrollbar {
	display: none;
}
