<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		button{
			margin: 20px;
		}
		
		input{
			margin: 20px;
		}
	</style>
</head>
<body>
<div id="app">
    <table border="1" cellspacing="0" cellpadding="10">
        <tr>
            <th colspan="5">{{title}}</th>
        </tr>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>学号</th>
            <th>籍贯</th>
            <th>联系方式</th
        </tr>
        <tr v-for="item in list">
            <td v-for="item2 in item">{{item2}}</td>
        </tr>
		搜索：
		<input type="text" v-model.lazy="datas"/ @keydown="key">
		{{dataT}}
    </table>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            title:"学生信息表",
			datas:"",
			dataT:"",
			item2:"",
            list:[
                ['张',"男",1,"四川",13099999999],
                ['宋',"女",2,"广东",13199999999],
                ['刘',"男",3,"上海",13499999999],
                ['李',"女",4,"北京",15199999999],
                ['王',"男",5,"新疆",15888888888],
            ]
        },
		methods:{
			key:function(ev){
			console.log(ev.target.value)
			}
		}
    })
</script>
</body>
</html>